<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Devflix</title>
    <link rel="stylesheet" href="http://bootswatch.com/readable/bootstrap.min.css" />
  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
