<html>
<head>
  <title></title>
  <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>

  <h2>My Fantastic Ruby Website</h2>
  <p>layout.erb</p>

  <%= yield %>

</body>
</html>