
<h3>If you could have anything you wanted, what would it be?</h3>

<form name="form_item" id="form_item" action="/add_item" method="post">
	<input type="text" placeholder="Item name" name="item_name" id="item_name">
	<input type="submit" value="Add it">
</form>
